<!DOCTYPE html>
<html>
  <head>
    <title>Entrar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> 
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link rel="stylesheet" href="/styles.css">
    <script src="/DLL.js"></script>
  </head>
<body>

  <div class="modal" id="modalCadastroUsuario">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Login/CadastroUsuario" method="post">

          <div class="modal-header">
            <h4 class="modal-title">Cadastro de usuario</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
         
          <div class="modal-body">
            <div class="form-group"> 

              <input onkeyup="this.value = this.value.toUpperCase();" class="form-control" type="text" name="nome" placeholder="Nome completo" style="width: 400px;" required>
              <br>
              
              <input onkeyup="this.value = this.value.toUpperCase();" class="form-control" type="text" name="usuario" placeholder="Usuario" style="width: auto;" required maxlength="10">
              <div class="invalid-feedback">caracteres permitidos Max :10</div>
              <br>

              <input onkeyup="this.value = this.value.toLowerCase();" class="form-control" type="email" name="email" placeholder="E-mail" style="width: 400px;" required>
              <div class="invalid-feedback">insira um e-mail valido.</div>
              <br>

              <input class="form-control" type="password" name="senha" placeholder="Senha" style="width: auto;" required maxlength="10">
              <div class="invalid-feedback">caracteres permitidos Max :10</div>
              <br>

              <input class="form-control" type="password" name="confirmaSenha" placeholder="Confirma senha" style="width: auto;" required maxlength="10">
              <br>
             
              <button name="CADASTRAR" value="true" class="btn w3-green">Finalizar</button>
            </div>
          </div>    
        
         
          <div class="modal-footer">
           
          </form>          
            <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
          </div>

      </div>
    </div>
  </div>


<div class="w3-card-4">
  <div class="w3-container w3-teal">
    <h2>Sistema Heckler - Controle Financeiro</h2>
  </div>
  <form class="w3-container" action="/Login" method="post">
    <p>      
    <label class="w3-text-teal"><b>USUARIO</b></label>
    <input class="w3-input w3-border w3-sand" name="login" placeholder="USUARIO" type="text" style="width: auto;"></p>
    <p>      
    <label class="w3-text-teal"><b>SENHA</b></label>
    <input class="w3-input w3-border w3-sand" name="senha" placeholder="SENHA" type="password" style="width: auto;"></p>

    <button class="w3-btn w3-teal w3-round w3-margin-bottom">ACESSAR</button>
    <div data-bs-toggle="modal" data-bs-target="#modalCadastroUsuario" class="w3-btn w3-teal w3-round w3-margin-bottom">CADASTRAR</div>
  </form>
  
</div>

</body>
</html> 