.not-visible {
    visibility: hidden;
    size: 0px;
    width: 0px;
    margin: 0px;
   
  }

  .TabelaDinamica td:hover::after { 
    background-color: rgb(178, 180, 178);
    content: '';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;        
}

.TabelaDinamica td:hover::before { 
  background-color:rgb(178, 180, 178);
  content: '';  
  height: 100%;
  left: -5000px;
  position: absolute;  
  top: 0;
  width: 10000px;   
  z-index: -2;        
}
.TabelaDinamica a {
  color: black;
}


td, th {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  position: relative;
}


  .SemBorda{
    border: none;
    outline: none;
    text-decoration: none;
    font-family: "Courier New", monospace;
  }
  .pointer {cursor: pointer;}
  .cell {cursor: cell;}

  body
  {
    background-color: rgb(237, 237, 237);
  }

  #ValorTotal
  {
    background-color: rgb(165, 165, 165);
    font-size: 20px;
  }

  .transp
  {
    background-color: rgb(165, 165, 165);
  }

  .rolagem
  {
    height: 250px;    
    overflow-y:auto;  
  }

  .font-bt-redondo
  {
    font-size: 25px;  
  }

  .marca-dose
  {
    font-size: 25px;  
  }

  .dinheiroVermelho
  {
    font-size: 25px;
    color: rgb(3, 3, 3);
    text-shadow:1px 1px 2px rgb(255, 0, 0);
  }

  .dinheiroAzul
  {
    font-size: 25px;
    color: rgb(3, 3, 3);
    text-shadow:1px 1px 2px rgb(0, 191, 255);
  }

  .dinheiroVerde
  {
    font-size: 25px;
    color: rgb(3, 3, 3);
    text-shadow:1px 1px 2px rgb(3, 173, 11);
  }

  .form-control
  {
    width: auto;
  }

  body, h1, h2, h3, h4, h5, h6 {
    font-family: Geneva, Verdana, sans-serif;
  }

input[data]
{
  width: 180px;
}



