.not-visible {
    visibility: hidden;
    size: 0px;
    width: 0px;
    margin: 0px;
   
  }

.TabelaDinamica td:hover { 
  background-color:rgb(0, 241, 0);
}

.TabelaDinamica a {
  color: black;
}


td, th {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  position: relative;
}


  .SemBorda{
    border: none;
    outline: none;
    text-decoration: none;
    font-family: "Courier New", monospace;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
  }

  .pointer {cursor: pointer;}
  .cell {cursor: cell;}

  #ValorTotal
  {
    border: none;
    outline: none;
    text-decoration: none;
    font-family: "Courier New", monospace;
    font-size: 16px;
  }
  
  .rolagem
  {
    height: 250px;    
    overflow-y:auto;  
  }

  .font-bt-redondo
  {
    font-size: 25px;  
  }


  .form-control
  {
    width: auto;
  }

  body, h1, h2, h3, h4, h5, h6 {
    font-family: Geneva, Verdana, sans-serif;
  }

input[data]
{
  width: 180px;
}

a
{
  color: black;
  font-size: 16px;
}

.w3-tag
{
  background-color: blue;
}

.tagPequena
{
  width: 1px;
  height: 8px; 
  margin-right: 3px;  
}

