<!DOCTYPE html>
<html lang="PT-BR">
<title>Menssagem</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="/styles.css">
<script src="/DLL.js"></script>
<body>
    <div class="alert alert-success">
        <strong>CONFIRME</strong> Colocar esse gasto na fatura?
        <form action="/Carteira/PagarGasto" method="post">
          <button onclick="ativaCarregamento(this,'btCarregando_AddFaturGasto')" name="CONF_ADD_FATURA" value="true" class="btn btn-info m-2">SIM</button>          
          <button  id="btCarregando_AddFaturGasto" class="btn btn-info m-2" disabled hidden><span class="spinner-border spinner-border-sm"></span>Aguarde..</button>
          <a href="/Carteira/ConsultaGastosResumoAnual" class="btn btn-info m-2">NAO</a>
        </form>
      </div>            
</body>
</html>